<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emotion Based Music Recommendation</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>

<h2 id="title">Hi, Welcome to Emotion Music Recommendation System!</h2>

<div id="playlist" class="wrapper"  style="display: none;">
    <div class="container darker">
        <div>
            <h4>Thank you for spending time participating test for USC CSCI 534 class project.</h4>
            <p>This project is aimed at recommending songs on Spotify to regulate your mood, based on your preferred genre and current emotion.<br/>
                e.g. Cheer you up when you are upset, calm you down when you are too excited.<br/><br/></p>
            <h4>Step 1: Login your account</h4>
            <p>To get start, our first step is to analyze your favorite genres from your Spotify playlists' info. Please click button below and follow process to authorize our access:<br/>
            * All the data collected are for class study only, we are not going to save your account data.</p>
        </div>
        <span class="time-right">
            <div id="playlistbtn" class="authorizationBtn">
                Allow Access
            </div>
        </span>
    </div>
</div>

<div id="camera" class="wrapper" style="display: none;">
    <div class="container darker">
        <div>
            <h4>Step 2: Emotion Recognition</h4>
            <p>Our next step is to know about your current mood. Please read carefully about tips below:<br/><br/>
            1. Please show expression <b>corresponds to</b> your current mood as possible as you can. <br/>
            2. For better recognition rate, please make sure there is enough lighting on your face. Also, please face and <b>stay close</b> to your camera.<br/>
            3. Every second an image would be captured and analyzed. After <b>10 pictures</b> are processed, it would end automatically.<br/>
            4. Your detected emotion and valence/arousal are available at right side of screen. Valence is an [0,1] value denotes your emotion is negative (low) or positive (high); whereas arousal means your emotion is intense or not.<br/><br/>
            * Captured image are for emotion detection only, we are not going to save it either.</p>
            <input id="instructionBox" type="checkbox"/><b> I have read all instructions above</b>
            <div id="warning" style="color: red;"></div>
        </div>
        <span class="time-right">
            <div id="camerabtn" class="authorizationBtn">
                Start Recognition
            </div>
        </span>
    </div>
</div>

<div id="recommendation" class="wrapper" style="display: none;">
    <div class="container darker">
        <h4>Recommendation results</h4>
        <p>Your average detected valence is: <span id="valence"></span><br/>
            * valence is an value ranged from [0, 1] which represents your emotion. (0 -> most negative, 1 -> most positive)<br/><br/>
            Below are recommended songs based on your info provided before. Hope you enjoy them!</p>
        <div id="recommendationTable" class="resultTable"></div>
    </div>
</div>

<div id="cameranoface" class="wrapper" style="display: none; margin-top: 10px;">
    <div class="container darker">
        <div>
            <h4>Step 3: Unconscious Emotion Recognition</h4>
            <p>In order to evaluate if we can recommend songs successfully when people are unconscious, please complete second round of our test.<br/><br/>
            1. For this part, you are going to repeat facial recognition part without seeing your face.<br/>
            2. Just imagine a situation which brings you a kind of emotion and make your expression as <b>nature</b> as possible.<br/>
            3. After recognition finished, you will see recommendation based on detection of this stage.</p>
            <input id="instructionBoxNoFace" type="checkbox"/><b> I have read all instructions above</b>
            <div id="warningNoFace" style="color: red;"></div>
        </div>
        <span class="time-right">
            <div id="cameranofacebtn" class="authorizationBtn">
                Start Recognition
            </div>
        </span>
    </div>
</div>

<div id="feedback" class="wrapper" style="display: none; margin-top: 10px;">
    <div class="container darker">
        <h4>Thank you again for participating in our study! Please take another 2 minutes to tell us your experience:</h4>
        <span class="time-right">
            <div id="feedbackbtn" class="authorizationBtn">
                Give Feedback
            </div>
        </span>
    </div>

    <div class="container darker" style=" margin-top: 10px;">
        <h4>If you are unsatisfied with detection process, you can also try again:</h4>
        <span class="time-right">
            <div id="tryagainbtn" class="authorizationBtn">
                Try Again
            </div>
        </span>
    </div>
</div>

</body>
</html>
