<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emotion Based Music Recommendation</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<h2>Hi, Welcome to our Music Recommendation System</h2>

<div id="playlist" style="width: 700px;">
    <div class="container darker">
        <p>Please Login to you Spotify account and allow us access to your Spotify playlist</p>
        <span class="time-right"><button><a href="{{ url_for('sign_in') }}">Allow access to Spotify Playlist</a></button></span>
    </div>
</div>

<div id="camera" style="width: 700px;">
    <div class="container darker">
        <p>Please allow access to your webcam</p>
        <span class="time-right"><button><a href="{{ url_for('camera') }}">Start emotion recognition</a></button></span>
    </div>
</div>

<div id="recommendation" style="display: none;width: 700px;">
    <div class="container darker">
        <p>This is the song recommended by our system</p>
        <span class="time-right"><button onclick="clickFour()"></button></span>
    </div>
</div>

<div id="feedback" style="display: none;width: 700px;">
    <div class="container darker">
        <p>Please give us a feedback</p>
        <span class="time-right"><button onclick="clickSix()"><a href="{{ url_for('camera') }}"></a></button></span>
    </div>
</div>

<script type="text/javascript">
    if (sessionStorage.getItem('finished-capturing') === 'true') {
        document.querySelector('#recommendation').style.display = 'block';
    }
</script>


</body>
</html>
